[user]
	name = noi narisak
	email = noi.narisak@gmail.com
[credential]
	helper = osxkeychain
[color]
	ui = true
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(magenta)(%cn)%Creset %Cgreen(%cr)    %Creset' --abbrev-commit --date=relative --left-right
    ref = reflog --pretty=format:'%C(yellow)%h%Creset -%Cgreen%gd %C(white)%gs%Creset' --date=relative
    df = diff --name-only
    ls = ls-files
