[user]
	name = noi narisak
	email = noi.narisak@gmail.com
[credential]
	helper = osxkeychain
[color]
	ui = true
[alias]
	l = log --abbrev-commit --date=relative --pretty=oneline
	lg = log --abbrev-commit --date=relative --pretty=oneline --graph
	dn = diff --name-only
	df = diff --
